@font-face {
    font-family: "LM Math";
    src: url('../fonts/latinmodern-math.otf');
}

html {
    font-size: 10px;
}

h1 {
    font-size: 5em;
    margin: 0;
    padding: 0;
}

svg {
    display: block;
    max-width: 900px;
}

.axis_tick_values { 
    font-family: "LM Math", sans-serif;
}